body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1e1e2e;
}
.title{
    color: #cdd6f4;
}
.grid-container {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
}

.grid-container img {
    width: 100%;
    height: auto;
}
.item{
    cursor: pointer;
}